* {
    box-sizing: border-box;
}
body{
    top: 0 !important;
}
html{
    height: auto;
}
.VIpgJd-ZVi9od-ORHb {
    display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none !important;

}

.goog-te-banner-frame {
    display: none;
}

#goog-gt-tt {
    display: none !important;
    visibility: hidden !important;
}

#google_translate_element {
    position: absolute;
    z-index: 99999;
}

.goog-te-gadget {
    font-family: Roboto, 'Open Sans', sans-serif !important;
    text-transform: uppercase;
}

.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.20) !important;
    border: 1px solid rgba(255, 255, 255, 0.50) !important;
    padding: 8px !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
}

.goog-te-menu2 {
    max-width: 100%;
}

.goog-te-menu-value {
    color: #fff !important;

    &:before {
        font-family: 'Material Icons';
        content: "\E927";
        margin-right: 16px;
        font-size: 2rem;
        vertical-align: -10px;
        width: 32px !important;
    }
}

.goog-te-menu-value span:nth-child(5) {
    display: none;
}

.goog-te-menu-value span:nth-child(3) {
    border: none !important;
    font-family: 'Material Icons';

    &:after {
        font-family: 'Material Icons';
        content: "\E5C5";
        font-size: 1.5rem;
        vertical-align: -6px;
    }
}

.goog-te-gadget-icon {
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}


